[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lgs = log --all --decorate --oneline --graph --stat
contrib = shortlog -ns
# Get latest tag
lt = !"git describe --tags `git rev-list --tags --max-count=1`"

lg = !"git lg1"

# Push the current branch to the remote "origin", and set it to track
# # the upstream branch
publish = !"git push -u origin $(git rev-parse --abbrev-ref HEAD)"

# Delete any branches that have been merged into master
clean-merged-branches = !"git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[user]
    name = Ernest Rekel
    email = ernest.rekel@gmail.com
[core]
    excludesfile = ~/.gitignore_global

[commit]
	gpgsign = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = true
    syntax-theme = Monokai Extended
    navigate = true
[delta "interactive"]
    keep-plus-minus-markers = false
    diffFilter = delta --color-only
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[includeIf "gitdir:~/Documents/projects/"]
    path=~/.gitconfig_work
