env:
  WINIT_X11_SCALE_FACTOR: "1"
font:
  normal:
    family: {{ font.name }}
    style: {{ font.style }}
colors:
  primary:
    background: '{{ colors.background }}'
    foreground: '{{ colors.foreground }}'
