configuration {
    font: "GoMono Nerd Font 10";
    lines: 5;
    show-icons: true;
    hide-scrollbar: true;
    icon-theme: "Papirus";
    kb-cancel: "Escape,Alt+F1";
    disable-history: false;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window ";
}

@theme "tokyonight"
